* {
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}
h1{ 
margin-bottom: 5px;
margin-top: 8px;
text-align: center;
color:#7f4295;
}
h2{
    text-align: center;
    color: #c5afd2;
}
h3{
    text-align: center;
    font-size: 15px;
    color: #3a1b45a6;
    margin-bottom: -20px;
}
main p{
    margin: 22px;
    text-align: center;
    font-size: 14px;
    color: rgba(65, 64, 64, 0.869);
    display: inline-block;
}

.logo {
    max-width: 80px;
    margin-left: 20px;
    margin-top: 4px;
}

.home{
    max-width: 25px;
    margin-left: 220px;
    margin-bottom: 5px;
}
.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    text-decoration: none;
    color:#312f33e2;
    font-size: 12px;
    font-weight:bolder;
}
.header .nav-links a {
    border: 2px solid #7f4295;
    padding: 4px 20px;
    display: inline-block; 
    text-decoration: none; 
    border-radius: 3px;
}

/*index main*/
.home-main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c5afd249;
}

.home-main ul {
    list-style: none;
    padding: 0;
}

.home-main li {
    margin: 10px 0;
}

.button-with-background,
.button-with-border {
    display: inline-block;
    padding: 10px 20px;
    padding-left: 100px;
    padding-right: 100px;
    text-decoration: none;
    border-radius: 5px;
}

.button-with-background {
    background-color:#532c69bc;
    color: #fff;
}

.button-with-border {
    border: 2px solid #532c69bc;
    color: #532c69bc;
}
/*images*/
.afb{
    max-width: 300px;
    border-radius: 2px;
    margin-left: 35px;
    border:4px solid #7f4295;
    padding: 4px;
}
.bbb{
    max-width: 250px;
    border-radius: 2px;
    margin-left: 53px;
    border:4px solid #7f4295;
    padding: 4px;
}
.bin{
    max-width: 60px;
    margin-left: 157px;
    margin-bottom: 20px;
}
footer a{
    color: #7f4295;
}
footer {
    background-color: #c5afd2;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    font-size: 14px;
}
